<div class="main">
	<div class="container">
			<iframe width="854" height="480" src="https://www.youtube.com/embed/lmY3BUVMfuU" frameborder="0" allowfullscreen class="video"></iframe>
	</div>
<div class="watch-main">
<div class="watch-content">
	<div class="watch-header box">INFOS VIDEO</div>
	<div class="action-panel-details box">PLUS PLUS PLUS</div>
	<div class="watch-discussion box">COMMENTAIRES</div>
</div>
<div class="watch-sidebar-content box">SUGGESTIONS</div>
</div>
</div>