<div class="main">
    <div class="container">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/lmY3BUVMfuU" frameborder="0" allowfullscreen class="video"></iframe>
    </div>
    <div class="watch-main">
        <div class="watch-content">
            <div class="watch-header box">
				<h1 class="watch-headline-title">
    				Cardistry - Virtuoso: No Hands feat. the SS16 Virtuoso Deck
				</h1>
				<div class="watch-user-header">
					<a href="http://youtube.com/user/thevirts" class="user-photo">   
						<img height="48" width="48" alt="thevirts" src="https://yt3.ggpht.com/-3I5LkVVyZTI/AAAAAAAAAAI/AAAAAAAAAAA/IlnQggc8lOo/s88-c-k-no-mo-rj-c0xffffff/photo.jpg">
					</a>
					<div class="user-info">
						<a href="http://youtube.com/channel/UCd3QjsY2nngpBYCoUihX7HA">thevirts</a>
					</div>
					<div class="button-subscription-container">
						<button class="subscribe-button">
							<span class="subscribe-icon"></span>
							<span class="subscribe-content">S'abonner</span>
						</button>
						<div class="subscriber-count">95 k</div>
					</div>
				</div>
				<div class="watch-action-buttons">
					<div class="other-actions">
						<button class="other-action-button">
							<span class="add-button"></span>
							<span>Ajouter à</span>
						</button>
						<button class="other-action-button">
							<span class="share-button"></span>
							<span>Partager</span>
						</button>
						<button class="other-action-button">
							<span class="plus-button"></span>
							<span>Plus</span>
						</button>
					</div>
					<div class="like-actions">
						<button class="like-action-button">
							<span class="like-button"></span>
							<span>1 191</span>
						</button>
						<button class="like-action-button">
							<span class="dislike-button"></span>
							<span>63</span>
						</button>
						<div class="watch-view-count">
							<div class="view-count">26 386 vues</div>
							<div class="video-extras-sparkbars">
								<div class="sparkbar-likes"></div>
								<div class="sparkbar-dislikes"></div>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="action-panel-details box">
            	<div class="watch-description">
	            	<div class="watch-uploader-info">
	            		<strong class="watch-time-text">Ajoutée le 11 juil. 2017</strong>
	            	</div>
	            	<div class="watch-description-text">
	            		<p>Learn more about the SS16 Virtuoso deck as well as our latest 
		            		<a href="/results?q=%23Cardistry" class="yt-uix-sessionlink  " data-sessionlink="itct=CDAQ6TgYACITCJHn3tq22dUCFUjzFgodUu8IYCj4HQ" data-url="/results?q=%23Cardistry">#Cardistry</a>
		            		 tutorials, projects, and products at 
		            		<a href="http://thevirts.com" class="yt-uix-servicelink  " data-target-new-window="True" data-servicelink="CDAQ6TgYACITCJHn3tq22dUCFUjzFgodUu8IYCj4HQ" data-url="http://thevirts.com" rel="nofollow noopener" target="_blank">http://thevirts.com</a>
		            		<br>
		            		<br>
		            		Download Virtuoso's track, "Tip of the Hat", as our gift to you here: 
		            		<br>
		            		<a href="http://bit.ly/TipoftheHat" class="yt-uix-servicelink  " data-target-new-window="True" data-servicelink="CDAQ6TgYACITCJHn3tq22dUCFUjzFgodUu8IYCj4HQ" data-url="http://bit.ly/TipoftheHat" rel="nofollow noopener" target="_blank">http://bit.ly/TipoftheHat</a>
		            		<br>
		            		<br>
		            		Instagram: @thevirts 
		            		<a href="/results?q=%23thevirts" class="yt-uix-sessionlink  " data-sessionlink="itct=CDAQ6TgYACITCJHn3tq22dUCFUjzFgodUu8IYCj4HQ" data-url="/results?q=%23thevirts">#thevirts</a>
		            		<br>
		            		Facebook: 
		            		<a href="https://www.facebook.com/cardflourishing" class="yt-uix-servicelink  " data-target-new-window="True" data-servicelink="CDAQ6TgYACITCJHn3tq22dUCFUjzFgodUu8IYCj4HQ" data-url="https://www.facebook.com/cardflourishing" rel="nofollow noopener" target="_blank">https://www.facebook.com/cardflourishing</a>
		            		<br>
						</p>
	            	</div>
	            	<div class="watch-description-extras"></div>
	            	</div>
            	<div class="expand-button"><a href="">Plus</a></div>
            </div>
            <div class="watch-discussion box">
            	<div class="comments-header">
            		<h2 class="comment-section-header-renderer">
            			<b>Commentaires</b> • 171
            		</h2>
            		<div class="add-a-public-comment-container">
            			<span class="comment-author-thumbnail"></span>
            			<div class="comment-box-form"></div>
            		</div>
            		<div class="comment-section-sort-menu"></div>
            	</div>
            	<div class="comment-section-renderer-items"></div>
            	<button class="load-more-comments-button"></button>
            </div>
        </div>
        <div class="watch-sidebar-content box">
            <div class="autoplay-bar">
                <div class="autoplay-options">
                    <div class="autoplay-label">Lecture automatique</div>
                    <div class="autoplay-info-icon"></div>
                    <div class="checkbox-on-off">
						<input id="autoplay-checkbox" type="checkbox" checked>
					</div>
                </div>
                <h4 class="watch-sidebar-head">À suivre</h4>
                <ul class="video-list">
                    <li class="video-list-item">
                        <div class="content-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
								<span class="item-title">Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</span>
								<span class="item-author">thevirts</span>
								<span class="item-stats">1 591 796 vues</span>
							</a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
								<img class="thumb" src="https://i.ytimg.com/vi/I0KSaqiv5C0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDhPP6zeCiXaiAuoMO-zTn4spsLWw">
								<span class="video-time">3:22</span>
							</a>
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="watch-sidebar-separation-line"></hr>
            <div class="watch-related">
                <ul class="video-list">
                    <li class="video-list-item">
                        <div class="content-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<span class="item-title">Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</span>
						<span class="item-author">thevirts</span>
						<span class="item-stats">1 591 796 vues</span>
					</a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<img class="thumb" src="https://i.ytimg.com/vi/I0KSaqiv5C0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDhPP6zeCiXaiAuoMO-zTn4spsLWw">
						<span class="video-time">3:22</span>
					</a>
                        </div>
                    </li>
                    <li class="video-list-item">
                        <div class="content-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<span class="item-title">Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</span>
						<span class="item-author">thevirts</span>
						<span class="item-stats">1 591 796 vues</span>
					</a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<img class="thumb" src="https://i.ytimg.com/vi/I0KSaqiv5C0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDhPP6zeCiXaiAuoMO-zTn4spsLWw">
						<span class="video-time">3:22</span>
					</a>
                        </div>
                    </li>
                    <li class="video-list-item">
                        <div class="content-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<span class="item-title">Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</span>
						<span class="item-author">thevirts</span>
						<span class="item-stats">1 591 796 vues</span>
					</a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<img class="thumb" src="https://i.ytimg.com/vi/I0KSaqiv5C0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDhPP6zeCiXaiAuoMO-zTn4spsLWw">
						<span class="video-time">3:22</span>
					</a>
                        </div>
                    </li>
                    <li class="video-list-item">
                        <div class="content-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<span class="item-title">Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</span>
						<span class="item-author">thevirts</span>
						<span class="item-stats">1 591 796 vues</span>
					</a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<img class="thumb" src="https://i.ytimg.com/vi/I0KSaqiv5C0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDhPP6zeCiXaiAuoMO-zTn4spsLWw">
						<span class="video-time">3:22</span>
					</a>
                        </div>
                    </li>
                </ul>
                <div class="watch-more-related-button"><a href="">Plus</a></div>
            </div>
        </div>
    </div>
</div>