<div class="main">
<div class="video">VIDEO</div>
<div class="content-left">
	<div class="infos-video">INFOS VIDEO</div>
	<div class="infos-video-plus">PLUS PLUS PLUS</div>
	<div class="comments">COMMENTAIRES</div>
</div>
<div class="content-right">
	<div class="suggested-videos">SUGGESTIONS</div>
</div>
</div>