<div class="main">
    <div class="container">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/lmY3BUVMfuU" frameborder="0" allowfullscreen class="video"></iframe>
    </div>
    <div class="watch-main">
        <div class="watch-content">
            <div class="watch-header box">INFOS VIDEO</div>
            <div class="action-panel-details box">PLUS PLUS PLUS</div>
            <div class="watch-discussion box">COMMENTAIRES</div>
        </div>
        <div class="watch-sidebar-content box">
            <div class="autoplay-bar">
                <div class="autoplay-options">
                    <label for="autoplay-checkbox">Lecture automatique</label>
                    <span class="autoplay-info-icon"></span>
                    <span class="checkbox-on-off">
					<input id="autoplay-checkbox" type="checkbox" checked>
				</span>
                </div>
                <h4 class="watch-sidebar-head">À suivre</h4>
                <ul class="video-list">
                    <li class="video-list-item">
                        <div class="content-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
								<span class="item-title">Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</span>
								<span class="item-author">thevirts</span>
								<span class="item-stats">1 591 796 vues</span>
							</a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
								<img class="thumb" src="https://i.ytimg.com/vi/I0KSaqiv5C0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDhPP6zeCiXaiAuoMO-zTn4spsLWw">
								<span class="video-time">3:22</span>
							</a>
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="watch-sidebar-separation-line"></hr>
            <div class="watch-related">
                <ul class="video-list">
                    <li class="video-list-item">
                        <div class="content-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<span class="item-title">Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</span>
						<span class="item-author">thevirts</span>
						<span class="item-stats">1 591 796 vues</span>
					</a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<img class="thumb" src="https://i.ytimg.com/vi/I0KSaqiv5C0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDhPP6zeCiXaiAuoMO-zTn4spsLWw">
						<span class="video-time">3:22</span>
					</a>
                        </div>
                    </li>
                    <li class="video-list-item">
                        <div class="content-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<span class="item-title">Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</span>
						<span class="item-author">thevirts</span>
						<span class="item-stats">1 591 796 vues</span>
					</a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<img class="thumb" src="https://i.ytimg.com/vi/I0KSaqiv5C0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDhPP6zeCiXaiAuoMO-zTn4spsLWw">
						<span class="video-time">3:22</span>
					</a>
                        </div>
                    </li>
                    <li class="video-list-item">
                        <div class="content-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<span class="item-title">Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</span>
						<span class="item-author">thevirts</span>
						<span class="item-stats">1 591 796 vues</span>
					</a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<img class="thumb" src="https://i.ytimg.com/vi/I0KSaqiv5C0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDhPP6zeCiXaiAuoMO-zTn4spsLWw">
						<span class="video-time">3:22</span>
					</a>
                        </div>
                    </li>
                    <li class="video-list-item">
                        <div class="content-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<span class="item-title">Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</span>
						<span class="item-author">thevirts</span>
						<span class="item-stats">1 591 796 vues</span>
					</a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="https://www.youtube.com/watch?v=I0KSaqiv5C0">
						<img class="thumb" src="https://i.ytimg.com/vi/I0KSaqiv5C0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDhPP6zeCiXaiAuoMO-zTn4spsLWw">
						<span class="video-time">3:22</span>
					</a>
                        </div>
                    </li>
                </ul>
                <div class="watch-more-related-button"><a href="">Plus</a></div>
            </div>
        </div>
    </div>
</div>