/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	box-sizing: border-box; /* Fix issues with borders and padding */
	margin: 0 auto;
	border: 0;
	padding: 0;
	font-family: "YouTube Noto",Roboto,arial,sans-serif;
}

body {
	background: #F1F1F1;
}

ul {
  list-style: none;
}

h1 {
	display: block;
	font-size: 20px;
	font-weight: normal;
}

h2 {
	display: box;
	font-weight: normal;
	font-size: 13px;
	padding: 0 0 20px;
}

h4 {
	font-size: 13px;
    color: #222;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #333;
}

div {
	display: block;
}

/* HEADER */

.header {
	position: fixed;
    top: 0;
    z-index: 10;
	overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    height: 34px; /* To avoid overlay, change .main margin-top accordingly */
    width: 100%;
    padding: 8px 30px;
}

.main {
    margin-top: 34px; /* To avoid overlay, put same value as for .header height */
    margin-bottom: 30px;
}

/* VIDEO */

.container {
   	background: black;
	text-align: center;
	height: 480px;
	margin-bottom: 10px;
}

.watch-main {
	margin: 0 107px;
}

.watch-content {
	float: left;
	width: 640px;
	margin-bottom: 50px;
}

/* SIDEBAR */

.watch-sidebar-content {
	background: #fff;	
	width: 416px;
	padding: 15px 15px 1px 10px;
	margin-left: 650px;
	margin-bottom: 20px;
}

.watch-sidebar-head {
	margin: 0 5px 10px 5px;
}

.autoplay-bar {
	position: relative; /* Display autoplay-options on the right */
	background: #fff;
	width: 391px;
	height: 120px;
	margin: 0 0 15px;
}

.autoplay-options {
	position: absolute; /* Display autoplay-options on the right */
	top: 0;
	right: 0;
	height: 16px;
	line-height: 16px;
}

.autoplay-label {
	display: inline-block;
	font-size: 13px;
	color: #767676;
}

.autoplay-info-icon {
	display: inline-block;
	vertical-align: middle;
	opacity: .5;
	width: 16px;
	height: 16px;
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vfl-xrsMu.webp) -30px -342px;
	background-size: 1096px 644px;
	margin: 0 4px 3px 4px;
}

.checkbox-on-off {
	display: inline-block;
}

.video-list {
	display: inline-block; /* Display margin-bottom correctly */
	margin-bottom: 28px; /* To avoid overlay, put same value as for .watch-more-related-button height */
}

.video-list-item {
	position: relative;
	margin-bottom: 15px;
}

.video-list-item a, .video-list-item a:visited {
	color: #333;
}

.video-list-item a:hover {
	color: #036;
}

.content-wrapper {
	margin-left: 181px;
	width: 210px;
	height: 94px;
}

.item-title {
	display: block;
	font-size: 14px;
	font-weight: 500;
}

.item-author, .item-stats {
	display: block;
	color: #767676;
	font-size: 11px;
}

.thumb-wrapper {
	position: absolute;
	top: 0;
	margin: 0 5px;
	width: 168px;
	height: 94px;
}

.thumb {
	height: 94px;
}

.video-time {
	position: absolute;
	bottom: 2px;
	right: 2px;
	padding: 0 4px;
	font-size: 11px;
    background-color: #000;
	color: #fff!important;
	height: 14px;
	line-height: 14px;
	opacity: .75;
	vertical-align: top;
}

.watch-sidebar-separation-line {
	border-bottom: 1px solid #e2e2e2;
	margin: 0 5px 15px;
}

.watch-related {
	position: relative; /* Display button 'PLUS' at the bottom */
   	background: #fff;	
	width: 391px;
	margin-top: 15px;
}

.watch-more-related-button {
	position: absolute; /* Display button 'PLUS' at the bottom */
	bottom: 0;
	width: 391px;
	height: 28px; /* To avoid overlay, change .video-list margin-bottom accordingly */
	line-height:28px; /* To align text vertically, put same value as for box-height */
	padding: 0 10px;
	border: 1px;
	margin-top: 10px;
	border-top: 1px solid #e2e2e2;
	text-transform: uppercase;
	border-radius: 2px;
    font-size: 11px;
    font-weight: 500;
    color: #767676;
    text-align: center;
}

.watch-more-related-button a:hover {
	color: #222 !important;
}

.watch-more-related-button a:visited {
    color: #767676;
}

/* HEADER BOX */

.watch-header {
	position: relative;
	background: #fff;
	width: 100%;
	height: 170px;
	padding: 15px 15px 5px 15px;
	margin-bottom: 10px;
}

.watch-headline-title {
	margin-right: 153px;
	word-wrap: break-word;
}

.watch-user-header {
	height: 68px;
	padding: 10px 0;
}

.user-photo {
	float: left;
}

.user-info {
	width: 380px;
	height: 22px;
	margin-left: 58px;
}

.user-info a {
	display: inline-block;
	color: #333;
	vertical-align: top;
	font-size: 13px;
	font-weight: 500;
}

.user-info a:hover {
	text-decoration: underline;
}

.subscribe-button {
	cursor: pointer;
	display: inline-block;
	float: left;
	margin-left: 10px;
	padding: 0 8px 0 5.5px;
	height: 24px;
	background-color: #e62117;
	border: solid 1px transparent;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.subscribe-button:hover {
	background-color: #cc181e;
}

.subscribe-icon {
	display: inline-block;
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vfl-xrsMu.webp) -57px -206px;
    background-size: 548px 322px;
    width: 16px;
    height: 12px;
    margin-right: 6px;
    vertical-align: middle;
    line-height: 24px;
}

.subscribe-content {
	display: inline-block;
	color: #fefefe;
	font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
   	line-height: 24px;
}

.subscriber-count {
	display: inline-block;
	margin-left: -1px;
	height: 24px;
    line-height: 24px;
    vertical-align: middle;
    padding: 0 6px 0 7px;
    color: #737373;
    font-size: 11px;
    border: 1px solid #ccc;
    border-left: 0;
    background-color: #fafafa;
    border-radius: 0 2px 2px 0;
}

.watch-action-buttons {
	position: relative;
	height: 34px;
	padding-top: 5px;
    border-top: 1px solid #e2e2e2;
}

.other-actions {
	float: left;
}

.other-action-button {
	cursor: pointer;
	display: inline-block;
	height: 28px;
	padding: 0 10px;
	background: none;
    border: none;
    box-shadow: none;
    opacity: .5;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    vertical-align: middle;
}

.other-action-button:hover {
	opacity: 0.6;
}

.add-button {
	margin-right: 6px;
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vfl-xrsMu.webp) -101px 0;
    background-size: 548px 322px;
    width: 20px;
    height: 20px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.share-button {
	margin-right: 6px;
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vfl-xrsMu.webp) -375px -186px;
    background-size: 548px 322px;
    width: 20px;
    height: 20px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.plus-button {
	margin-right: 6px;
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vfl-xrsMu.webp) -193px 0;
    background-size: 548px 322px;
    width: 20px;
    height: 20px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.like-actions {
	float: right;
}

.like-action-button {
	cursor: pointer;
    display: inline-block;
    opacity: .5;
    height: 28px;
    padding: 0;
   	background: none;
    border: none;
    box-shadow: none;
    padding-left: 10px;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 2px;
}

.like-action-button:hover {
	opacity: 0.6;
}

.like-button {
	margin-right: 6px;
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vfl-xrsMu.webp) -123px 0;
    background-size: 548px 322px;
    width: 20px;
    height: 20px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.dislike-button {
	margin-right: 6px;
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vfl-xrsMu.webp) -441px -208px;
    background-size: 548px 322px;
    width: 20px;
    height: 20px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.watch-view-count {
	position: absolute;
    bottom: 33px;
    right: 0;
    min-width: 160px;
	line-height: 24px;
    max-height: 24px;
    margin-bottom: 2px;

}

.view-count {
	text-align: right;
    font-size: 19px;
    color: #666;
}

.video-extras-sparkbars {
	height: 2px;
    overflow: hidden;
}

.sparkbar-likes {
	width: 94.976076555%;
	float: left;
	height: 2px;
	background: #167ac6;
}

.sparkbar-dislikes {
	width: 5.02392344498%;
	float: left;
	height: 2px;
	background: #ccc;
}

/* DESCRIPTION BOX */

.action-panel-details {
	position: relative;
	background: #fff;	
	width: 100%;
	height: 122px;
	padding: 15px;
	margin-bottom: 10px;
}

.watch-description {
	display: inline-block; /* Display margin-bottom correctly */
	margin-bottom: 28px; /* To avoid overlay, put same value as for .watch-more-related-button height */
}

.watch-time-text {
    vertical-align: middle;
    font-weight: 500;
    font-size: 13px;
    color: #333;
    line-height: 14px;
}

.watch-description-text {
	max-height: 42px;
    overflow: hidden;
    padding-top: 4px;
    color: #333;
    line-height: 14px;
    font-size: 13px;
}

.watch-description-extras {
	margin-top: 8px;
}

.expand-button {
	position: absolute; /* Display button 'PLUS' at the bottom */
	bottom: 0;
	width: 588px;
	height: 28px; /* To avoid overlay, change .video-list margin-bottom accordingly */
	line-height:28px; /* To align text vertically, put same value as for box-height */
	padding: 0 10px;
	border: 1px;
	margin-top: 10px;
	border-top: 1px solid #e2e2e2;
	text-transform: uppercase;
	border-radius: 2px;
    font-size: 11px;
    font-weight: 500;
    color: #767676;
    text-align: center;
}

.expand-button a {
	color: #767676;
}

.expand-button a:hover {
	color: #222;
}

/* COMMENTS BOX */

.watch-discussion {
	background: #fff;	
	width: 100%;
	height: 500px ;
	padding: 15px;
	margin-bottom: 10px;
}

.comments-header {
    padding: 0 0 20px;
    text-transform: uppercase;
    color: #555;
}

.comment-container {
	padding: 0 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
    position: relative;
}

.comment-author-thumbnail {
	float: left;
	display: inline-block;
    vertical-align: middle;
    width: 48px;
    overflow: hidden;
    background: #f1f1f1;
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.comment-box-field-container {
	display: block;
    overflow: hidden;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}

.comment-box-field {
	position: relative;
    color: #b8b8b8;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    width: 519px;
    height: 50px;
    padding: 10px;
    margin-left: 11px;
   	border: 1px solid #d5d5d5;

}

.comment-box-arrow {
	position: absolute;
	height: 12px;
    top: 0;
    width: 12px;
    left: 0;
    margin: 0;
}

.arrow-inner, .arrow-outer {
	border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
}

.arrow-inner {
	border: 7px solid #fff;
    left: 2px;
    top: 1px;
    z-index: 1;
}

.arrow-outer {
	border: 6px solid #d5d5d5;
    left: 0;
    top: 0;
}





/* SHADOWS */

.box {
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

/* FOOTER */

.footer {
	bottom:0;
	clear: both; /* Keep footer at the bottom of the page */
	width:100%;
	height:114px;
	background: #fff;
    border-top: 1px solid #e2e2e2;
    padding: 20px 30px;   	
}