/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin: 0 auto;
}

 /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 60px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 60px; /* Add a top margin to avoid content overlay */
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

.box-video {
	background:black;
	height: 400px;
}

.video {
   	background:#f78aed;
	margin-left: auto;
	margin-right: auto;
	width: 60%; /* largeur obligatoire pour être centré */
	height: 100%;
}

.content {
	background:#fff;
	margin-left: auto;
	margin-right: auto;
	width: 70%; /* largeur obligatoire pour être centré */
}

.content-left {
	background:#5f73a6;	
	width: 75%;
	height: 200px;
	float: left;
/*	padding: 20px;
*/}

.content-right {
	margin-left: 75%;
	height: 200px;
	background:#f71f95;	
}

.infos-video {
   background:#930395;	
}

.infos-video-plus {
   background:#d0dd44;	
}

.comments {
   background:#30e5c5;	
}

.suggested-videos {
   background:#ea6632;	
}